.carousalContainer {
    display: inline-block;
    padding: 10px 0px 10px 0px;
}


.leftArrow {
    position: relative;
    top: 200px;
    right: 350px;
    cursor: pointer;
    font-size: 2.5em;
    padding-right: 20px;
}


.leftArrow:hover {
    color: rgb(192, 54, 0);
    transition-duration: 1s;
}


.activeSlide {
    background-image: linear-gradient(
        #3d4963, 
        #06b9eb,
        #3d4963 
    );
    width: 615px;
    height: 425px;
    border-radius: 10px;
}


.carousalImg {
    width: 615px;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
    margin: 0;
}


.carouselLinks {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    animation: fadeIn linear 2.0s;
}

.carouselLinkTag {
    position: relative;
    text-decoration: none;
}


.carouselLinkText {
    color: #4FFFB0; 
    font-size: 1.2em;  
}


.carouselLinkText:hover {
    animation: animate 10s linear infinite;
    background: linear-gradient(135deg, #fcff4f  0%, #00d9ff 25%, #f7be45 50%, #de0013 75%, #fcff4f 100%);
    background-size: 400%;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}


@keyframes animate {
    100% {
        background-position: 400%;
    }
}


.carouselLinkText::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 0.105rem;
    background: #4FFFB0;
    border-radius: 50%;
}


.carouselLinkText::after {
    transform: scale(0, 1);
    transition:  transform 0.25s ease;
}


.carouselLinkText:hover::after {
    transform: scale(1,1);
}


.carouselProjTitle {
    color: seashell;
    font-size: 1em;
    padding: 0px 20px 0px 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    animation: fadeIn linear 2.0s;
    text-align: left;
}


.carouselDesc {
    color: seashell;
    font-size: 1em;
    padding: 0px 20px;
    margin: 0;
    animation: fadeIn linear 2.0s;
    text-align: justify;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }


.rightArrow {
    position: relative;
    bottom: 269px;
    left: 350px;
    cursor: pointer;
    font-size: 2.5em;
    padding-left: 20px;
}

.rightArrow:hover {
    color: rgb(0, 171, 177);
    transition-duration: 1s;
}



.carouselNavContainer {
    display: flex;
    position: relative;
    left: 235px;
    width: 200px;
}

.activeCarouselNav {
    width: 25px;
    border-radius: 50%;
    height: 25px;
    margin: 0 10px;
    background-image: linear-gradient(
        #3d4963, 
        #19f7ff
    );
    cursor: pointer;
    opacity: 1;
    transition-duration: 1s;
}

.carouselNav {
    opacity: 0.3;
    transition-duration: 1s ease;
    width: 25px;
    border-radius: 50%;
    height: 25px;
    margin: 0 10px;
    background-color: #151b26 ;
    cursor: pointer;
}