.homePageContainer {
    height: 85vh;
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}


.homeTitle {
    margin: 0;
    color: seashell;
}

.homeMsg {
    font-size: 12.5px;
    white-space: normal;
    color: seashell;
}
