body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('../assets/img/coolBackgroundImg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}


table{
  border-collapse: collapse;  
  table-layout: auto;
  width: 100%;
}


table td {
  padding: 0 0;
}


.task {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
