body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('../assets/img/coolBackgroundImg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}


table{
  border-collapse: collapse;  
}


table td {
  padding: 0 0;
}

.first-col{
  width: 125px;
  max-width: 125px;
}


.sec-col {
  padding: 0px 5vw 0px 5vw;
  width: 100vw;
  /* the above padding is a possible solution - the idea is that as screen gets wider the padding will auto adjust. The td adjust not the carousel comp  */
}


.task {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
