.navBar {
    background-color: #151b26;
    width: 125px;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* position: fixed; */
    /* top: 0; */
    /* z-index: 1; */
}

.nav-ul {
    padding: 0;
}

/* .nabBar a targets the react-icons: AiOutlineBars */
.navBar a {
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
    display: flex;
    height: 50px;
    width: 95%;
}

.nav-li {
    list-style: none;
}

.nav-titles {
    padding: 0 5px;
}