.navBarContainer {
    background: linear-gradient(#151b26, #9198e5);
    width: 150px;
    height: 100vh;
    display: flex;
}

.nav-ul {
    padding: 0;
}

/* .nabBar a targets the react-icons: AiOutlineBars */
.navBarContainer a {
    color: aliceblue;
    text-decoration: none;
    font-size: 1.5em;
    align-items: center;
    display: flex;
    height: 50px;
}

.nav-li {
    list-style: none;
    padding: 0 0 0 15px;
}


.nav-li:hover{
    background-color: #3d64ad98;
    width: 136px;
    display: flex;
    justify-content: center;
}

/* .navBar a:hover {color: rgb(233, 139, 17);} */
.navBarContainer a:hover {color: #fcff4f;}


.nav-titles {
    padding: 0 5px;
    font-size: 1em;
}


.nav-titles-ex {
    padding: 0 5px;
    font-size: 1em;
}