.modalBackdrop {
    position: fixed;
    top: 0; 
    left: 0;
    right: 0; 
    bottom: 0;
    background: linear-gradient(#000000, #232d9c);
}


.modal {
    position: fixed;
    top: 10%;
    left: 25%;
    right: 25%;
    transform: translate(-50%,-50%);
    margin: 0 auto;
    background-color: #1a2350;
    color: black;
    font-size: 12px;
    border-radius: 10px;
    width: 55vw;
    max-width: 550px;
    height: 502px;
    padding: 3px;
    overflow: hidden;
}


.modal::before {
    z-index: -1;
    content: '';
    position: absolute;
    left: 175px;
    top: -125px;
    width: 200px;
    height: 150%;
    background: linear-gradient(#00ccff, #d400d4);
    animation: animateModalEff 5s linear infinite;
}

.modal::after {
    z-index: -1;
    content: '';
    position: absolute;
    inset: 3px;
    background: #1a2350;
    border-radius: 8px;
}


@keyframes animateModalEff {
    0% 
    {
        transform: rotate(0deg);
    }
    100% 
    {
        transform: rotate(360deg);
    }
}


.modalTitleLabelContainer {
    background-color: #151b26;
    color: rgb(233, 139, 17);
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    border-radius:8px 8px 0px 0px;
}


.modalContentContainer {
    padding: 20px 20px;
    height: 369px;
    overflow-y: auto;
}

.modalContentContainer::-webkit-scrollbar {
    width: 13px;
}
  
.modalContentContainer::-webkit-scrollbar-track {
    /* color of the tracking area */
    background: linear-gradient(rgb(12, 239, 247), #151b26, rgb(0, 199, 182)); 
    border-radius: 20px; 
}

.modalContentContainer::-webkit-scrollbar-thumb {
    /* color of the scroll thumb */
    background: linear-gradient(rgb(0, 120, 124), rgb(155, 248, 252), rgb(0, 120, 124));   
    /* roundness of the scroll thumb */
    border-radius: 20px; 
    /* creates padding around scroll thumb */
    border: 3px solid orange;  
}


.modalSubContainerOutterBorder {
    background: linear-gradient(to right, rgb(0, 17, 255), rgb(0, 192, 199), #151b26);
    padding: 3px;
    border-radius: 15px;
    margin: 10px 0px 10px 0px;
}


.modalLabelInnerBorder {
    background-color: white;
    padding: 5px 10px;
    border-radius: 15px;
}


.modalLabels {
    color:rgba(233, 139, 17,1);
    border-radius: 4px;
    padding: 0px 8px 0px 8px;
}

.ModalBtnContainer {
    padding: 10px 0px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(90deg, #235d9c, rgb(0, 192, 199), #235d9c);
    border-radius: 0px 0px 8px 8px;
}


.srcCodeBtn {
    background-color: #151b26;
    color: rgb(233, 139, 17);
    width: 50px;
    font-size: 12px;
    text-align: center;
    padding: 2px;
    border-radius: 5px;
    border-width: thin;
}


.srcCodeBtn:hover {
    cursor: pointer;
    background-color: rgb(53, 233, 17);
    color: rgb(253, 0, 0);
    transition: 0.6s;
    box-shadow: 0 0 5px rgb(65, 255, 7), 0 0 15px rgb(65, 255, 7), 0 0 65px rgb(65, 255, 7)
}


.srcCodeBtnAnchorTag {
    text-decoration: none;
}


.closeModalBtn {
    background-color: #151b26;
    color: rgb(233, 139, 17);
    border-width: thin;
    border-radius: 5px;
    height: 35px;
}


.closeModalBtn:hover {
    cursor: pointer;
    background-color: red;
    transition: 0.6s;
    color: rgb(253, 236, 0);
    box-shadow: 0 0 5px rgb(255, 98, 7), 0 0 15px rgb(255, 98, 7), 0 0 65px rgb(255, 98, 7)
}


.taskBtn {
    background-color: #151b26;
    color: rgb(233, 139, 17);
    border-width: thin;
    border-radius: 5px;
    height: 35px;
}


.taskBtn:hover{
    cursor: pointer;
    background-color: rgb(4, 0, 255);
    transition: 0.6s;
    color: rgb(233, 139, 17);
    box-shadow: 0 0 5px rgb(0, 192, 199), 0 0 15px rgb(0, 192, 199), 0 0 65px rgb(0, 192, 199)
}


.taskBtnLinkTag {
    text-decoration: none;
}


.taskBtnLinkTag:hover {
    color: rgb(233, 139, 17);
}