.projBtnContainer {
    display: inline-block;
    position: relative;
    top: -25px;
}

.projBtns {
    color: white;
    border-radius: 20px;
    width: 85px;
    height: 90px;
    background-image: linear-gradient(
        180deg,
        #151b26, 
        #07addb, 
        #151b26 
    );
    border-style: solid;
    border-width: thin;
    margin: 0px 20px 20px 20px;
}


.projBtnIcon {
    font-size: 20px;
}


.projBtnTitle {
    font-size: 13px;
    margin: 10px 20px;
}


.projBtnTitle::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.125rem;
    background: #07addb;
    border-radius: 50%;
}


.projBtnTitle::after {
    transform: scale(0, 1);
    transition:  transform 0.25s ease;
}


.projBtns:hover {
    box-shadow: 10px -10px 25px 0 rgba(64, 122, 248, 0.8), -10px 10px 25px 0 rgba(39, 200, 255, 0.8);
    transition: transform 0.1s;
    cursor: pointer
}


.projBtns:hover + .projBtnTitle::after {
    transform: scale(1, 1)
}


.projBtns:hover ~ .projBtnTitle {
    color: rgb(16, 12, 240);
}
