@import url("https://cdn.syncfusion.com/ej2/material.css");
.taskTable, .taskTableRow, .taskTableData {
    border: 1px solid black; 
}

.taskUl {
    list-style-type: none;
    padding: 0;
}

.task_desc {
    list-style-position:inside;
    border: 1px solid black;
}

.pageTitle_tasks { 
    position: absolute;
    top: 28px;
    left: 222px;
    color: seashell;
    font-size: 1.5em;
}

.addCancelTaskBtnContainer {
    position: relative;
    bottom: 300px;
    left: 10px;
}

.addTaskBtn { 
    color: white;
    border-radius: 20px;
    width: 85px;
    height: 55px;
    background: linear-gradient(
        180deg,
        #151b26, 
        #07addb, 
        #151b26 
    );
    background-size: 27px;
    border-style: solid;
    border-width: thin;
    margin: 0px 20px 20px 20px;
    padding: 5px 0 0 0;
}

.addTaskBtn:hover {
    box-shadow: 10px -10px 25px 0 rgba(93, 246, 51, 0.8), -10px 10px 25px 0 #07db51;
    transition: 1.5s;
    cursor: pointer;
    background: linear-gradient(
        180deg,
        #151b26, 
        #07db51, 
        #151b26 
    );
}
